

<%= simple_form_for(@quote) do |f| %>
  <%= f.error_notification %>
<fieldset>
  <legend><h1><%=t :cotizar_titulo %></h1></legend>
  <div class="row">
    <div class="span12">
   
    <div class="span7">
      <div class="span3">
        <img src="/img/building-left.png">
        <br>
        <address>
          <strong>Inssol, SAS.</strong><br>
          Calle 11 # 2- 15<br>
          <strong>Neiva, Huila</strong> <br>
          <abbr title="Phone">Telefax:</abbr> (8)713562 - (8)711922
          <abbr title="movil"><%=t :celular %></abbr> 3166948379
        </address>
 
        <address>
          <strong><%=t :correo %></strong><br>
          <a href="mailto:#">comercial@inssol.com.co</a>
        </address>
      </div>

      <div class="span3 ">
        <img src="/img/building-right.png">
         <address>
          <strong>Inssol, SAS.</strong><br>
          Cra 13 # 17 - 46<br>
          <strong>Bogotá D.C, Cundinamarca</strong>  <br>
          <abbr title="Phone">Telefax:</abbr> 3420442 - 5666981
          <abbr title="movil"><%=t :celular %></abbr> 3168752386
        </address>
 
        
      </div>
      

      
    </div>
    
    <div class="span3 post_block">

      <p><%=t :cotizar_msj %></p>
            <label for="">Nombre</label>
            <%= f.input :name, label: false  %>
            <label for="">Email</label>
            <%= f.input :email, label: false  %>
            <label for="">telefono</label>
            <%= f.input :telefono, label: false  %>
            <%= f.input :comentario, label: false, placeholder: 'Escribe aqui: Descripción, Referencia, Marca, Cantidad, etc.', :input_html => { :rows => 5 }  %>
        <%= f.button :submit, "enviar", :class => "btn btn-large btn-warning"%>
    </div>
    <div class="span12">
     
  </div>
  </div>
  
    </div>
  


  
  </fieldset>
<% end %>
