<% if admin_signed_in? %>
<section class="panel">
    <div class="content-bg">
      <p class="title">BIENVENIDO USUARIO ADMINISTRADOR</p>
    </div>
    <div class="panel-users">
      <p class="title">LISTADO DE COTIZACIONES ENVIADAS</p>
        <p class="line"></p>
        <table class="table table-bordered">
          <tr class="tr">
            <th>Datos</th>
            <th>Solicitud</th>        
            <th></th>
          </tr>

        <% @quotes.each do |quote| %>
              <tr>
                <td>
                  <p class="datos"><strong><%= quote.nombre %></strong></p> 
                  <p class="datos"> <%= quote.telefono %></p>                   
                  <p class="datos"> <%= quote.email %></p> 
                  <strong><%= quote.created_at.strftime(" %m/%d/%Y - %I:%M %p") %></strong>                  
                </td>
                <td><p class="comentario"><%= quote.comentario %></p></td>
                <td><%= link_to 'Eliminar', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
              
             <% end %>
        </table>  
    </div>
    
</section>    
<% end %>