<style>

#main-navbar .nav>li>a, #main-navbar .messages>li>a {
color: #fff;
display: block;
line-height: 22px;
padding: 9px 15px 0 15px;
height: 40px;
text-decoration: none;
text-shadow: rgba(0,0,0,0.2) 0 -1px 0;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
opacity: 1;
filter: alpha(opacity=100);
-webkit-transition: opacity .2s;
-moz-transition: opacity .2s;
-o-transition: opacity .2s;
transition: opacity .2s;
}
</style>






<div class="navbar navbar-inverse navbar-fixed-top" id="main-navbar">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Admin-Lubu</a>
          <div class="nav-collapse collapse">
              <div class="btn-group pull-right">
                <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> Administrador</a>
                <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to  '<i class="icon-book"></i> Perfil'.html_safe, edit_admin_registration_path %></li>
                  <li><%= link_to '<i class="icon-off"></i> Cerrar sesion'.html_safe, destroy_admin_session_path, :method => :delete %></li>
                </ul>
              </div>
          <!--
              <%= link_to  '<img src="/img/icons/user.png" style="width: 32px; height: 32px;">Perfil'.html_safe, edit_admin_registration_path %>|| <%= link_to '<img src="/img/icons/unlock.png" style="width: 32px; height: 32px;">'.html_safe, destroy_admin_session_path, :method => :delete %>-->
            <ul class="nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-globe icon-white "></i> Sitio Web <b class="caret"></b></a>
                <ul class="dropdown-menu">

                	<li class="dropdown-submenu">
                    <a tabindex="-1" href="#">Clientes</a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                   		<li><%= link_to 'Nuevo Clientes', new_customer_path %></li>
                  		<li><%= link_to 'Listado Clientes', customers_path %></li>
                    </ul>
                  </li>

                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-bell icon-white"></i> Seguimiento <b class="caret"></b></a>
                <ul class="dropdown-menu">                  
             	  <li><%= link_to '<i class="icon-envelope"></i> Contacto'.html_safe, contacts_path %></li>
              	  <li><%= link_to '<i class=" icon-file"></i> Contizaciones'.html_safe, quotes_path %></li>
                   <li><%= link_to '<i class=" icon-user"></i> Usuarios'.html_safe, users_index_path %></li>
                </ul>
              </li>
              
               <li><%= link_to '<i class="icon-th-large icon-white"></i> Panel'.html_safe, panel_index_path %></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>