 <header>
      <div class="content-logo">
        <img src="/images/logo.png" alt="">
        <div class="menu-landscape">
        <ul>
          <li><%= link_to t("home"),  "/" %></li>
          <li><%= link_to t("company"), company_path %></li>
          <li><%= link_to t("servicio"), servicios_path %></li>
          <li><%= link_to t("gestion"), gestion_path %></li>
          <li><%= link_to t("contacto"), contacto_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to t("catalogo"), catalogo_path %></li>
          <li><%= link_to t("cotizar"), cotizar_path %></li>
          <%end%>
        </ul>
      </div>
        <a class="menu-movil" href="#"><i class="fa fa-bars"></i></a>
        <ul>
          <li><%= link_to '<img src="/images/colombia.png"> ES'.html_safe,  :locale => :es %></li>
          <li>/</li>
          <li><%= link_to '<img src="/images/usa.png"> EN'.html_safe,  :locale => :en %></li>
          <% if user_signed_in? %>
           <li> <%= link_to t("logout"), logout_path, :class => "salir" %></li>
           <% else %>
            <li><%= link_to t("iniciar"), login_path, :class => "iniciar" %></li>
          <% end %>
        </ul>

        
      </div>
      <div class="menu">
        <ul>
          <li><%= link_to t("home"), inicio_path %></li>
          <li><%= link_to t("company"), company_path %></li>
          <li><%= link_to t("servicio"), servicios_path %></li>
          <li><%= link_to t("gestion"), gestion_path %></li>
          <li><%= link_to t("contacto"), contacto_path %></li>
          <% if user_signed_in? %>
          <li><%= link_to t("cotizar"), cotizar_path %></li>
          <%end%>
        </ul>
      </div>
    </header>