 
 <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="row" style="margin-left: 22px;">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#"><img src="/img/logo.png"></a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li><%= link_to "inicio", inicio_path %></li>
                            <li><%= link_to "Compañia", company_path %></li>
                            <li><%= link_to "Servicios", servicios_path %></li>
                            <li><%= link_to "Gestion", gestion_path %></li>
                            <li><%= link_to "Contacto", contacto_path %></li>
                            <% if user_signed_in? %>
                            <li><%= link_to "Cotizar producto", cotizar_path %></li>
                            <li><img src="/img/clic.gif"></li>

                           <%end%>
                        </ul>
                        
                       <p class="navbar-text pull-right">
                        <% if admin_signed_in? %>
                        <%= link_to 'Perfil', edit_admin_registration_path %> |
          <%= link_to 'Cerrar sesión', destroy_admin_session_path, :method => :delete %>
        <% else %>
        <% if user_signed_in? %>
        <%= current_user.name_empresa %> | <%= link_to 'Perfil', edit_user_registration_path %> |
          <%= link_to 'Cerrar sesión', logout_path %>
          <% else %>
             <%= link_to "Registrar", registrar_path %> |
          <%= link_to "Iniciar", login_path %> 


                      </p>
                         <% end -%>
                          <% end -%>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
