<% if admin_signed_in? %>
<section class="panel">
    <div class="content-bg">
      <p class="title">BIENVENIDO USUARIO ADMINISTRADOR</p>
    </div>
    <div class="panel-users">
      <p class="title">LISTADO DE USUARIOS REGISTRADOS</p>
        <p class="line"></p>
        <table class="table table-bordered">
          <tr class="tr">
            <th>Datos</th>
            <th>Fecha de Creación</th>        
            <th>Ultima Conexiones</th>
            <th>Numero de Visitas o Conexiones</th>
            <th></th>

          </tr>

        <% @users.each do |user| %>
          <tr>
            <td>
                <p class="name"><strong><%= user.nombre %></strong></p>
                <p class="datos"><strong>Correo:</strong> <%= user.email %></p>
                <p class="datos"><strong>Empresa:</strong> <%= user.name_empresa %></p>
                <p class="datos"><strong>Pais:</strong> <%= user.pais %></p>        
                <p class="datos"><strong>Celular:</strong> <%= user.celular %></p>
                <p class="datos"><strong>Celular:</strong> <%= user.telefono %></p>
                <p class="datos"><strong>Servicio interesado:</strong>  <%= user.description %></p>
            </td>
            <td><p class="datos"><%= user.created_at.strftime(" %m/%d/%Y - %I:%M %p") %></p></td>
            <td><p class="datos"><%= user.last_sign_in_at.strftime(" %m/%d/%Y - %I:%M %p") %></p></td>
            <td><p class="datos"><%= user.sign_in_count %></p></td>
             <td><%= link_to "delete", user, :method => :delete, :confirm => "You sure?" %></td>               
          </tr>
        <% end %>
        </table>  
    </div>
    
</section>    
<% end %>