<div class="well" >
  <fieldset>
    <legend><h5><%=t :catalogo %></h5></legend>
    <!--acordion principal de catalogo-->
    <ul class="nav nav-pills nav-stacked">
    	<li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :seguridad_industrial %></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <!--	
                    
					-->


                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_respiratoria %></a>

                    <%if user_signed_in? %>

                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/3m/Catalogo.pdf"><img src="/img/logo/3m-logo.png" style="width: 24px; height: 24px;"> - 3M</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/allegro/Catalogo.pdf"><img src="/img/logo/allegro-logo.png" style="width: 24px; height: 24px;"> - Allegro</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/bullard/Catalogo.pdf"><img src="/img/logo/bullard-logo.png" style="width: 24px; height: 24px;"> - Bullard</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/gerson/Catalogo.pdf"><img src="/img/logo/gerson-logo.png" style="width: 24px; height: 24px;"> - Gerson</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/keepsafe/Catalogo.pdf"><img src="/img/logo/keepsafe-logo.png" style="width: 24px; height: 24px;"> - Keep Safe</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/kimberly/Catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/moldex/Catalogo.pdf"><img src="/img/logo/moldex-logo.png" style="width: 24px; height: 24px;"> - Moldex</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/msa/Catalogo.pdf"><img src="/img/logo/msa-logo.png" style="width: 24px; height: 24px;"> - MSA</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/north/Catalogo.pdf"><img src="/img/logo/north-logo.png" style="width: 24px; height: 24px;"> - North</a></li>
                      <li><a tabindex="-1" href="http://www.lubu.com.co/fuentesinssol/Catalogo/SeguridadIndustrial/Proteccionrespiratoria/sperian/Catalogo.pdf"><img src="/img/logo/sperian-logo.png" style="width: 24px; height: 24px;"> - Sperian</a></li>
          
                     
                    </ul>
                    <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>


                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_manual %></a>
                      <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/8vzh934rdftonoa/ansell-catalogo.pdf"><img src="/img/logo/ansell-logo.png" style="width: 24px; height: 24px;"> - Ansell</a></li>
                        <li><a tabindex="-1" href="https://www.dropbox.com/s/tqjyhcnxunz5014/ergodyne-catalogo.pdf"><img src="/img/logo/ergodyne-logo.png" style="width: 24px; height: 24px;"> - Ergodyne</a></li>
                        <li><a tabindex="-1" href="https://www.dropbox.com/s/gsev5od244wu8uy/honeywell-catalogo.pdf"><img src="/img/logo/honeywell-logo.png" style="width: 24px; height: 24px;"> - Honeywell</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/1ejwr9c101ko3xd/kimberly-catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/xpy3d8tbg1beqc5/mechanix-catalogo.pdf"><img src="/img/logo/mechanix-logo.png" style="width: 24px; height: 24px;"> - Mechanix Wear</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/rcpotqr9zd4tmaq/memphis-catalogo.pdf"><img src="/img/logo/memphis-logo.png" style="width: 24px; height: 24px;"> - Memphis</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/0142ixm286a3eoy/rawhyde-catalogo.pdf"><img src="/img/logo/rawhyde-logo.png" style="width: 24px; height: 24px;"> - Rawhyde Frontier</a></li>
                       <li><a tabindex="-1" href="https://www.dropbox.com/s/wcvqmvsezjc2ogh/showa-catalogo.pdf"><img src="/img/logo/showabest-logo.png" style="width: 24px; height: 24px;"> - Showa Best</a></li>
                       <li><a tabindex="-1" href="https://www.dropbox.com/s/7w0d3ua594ldmh4/tillman-catalogo.pdf"><img src="/img/logo/tillman-logo.png" style="width: 24px; height: 24px;"> - Tillman</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/4h137hkxubebgpr/wells-catalogo.pdf"><img src="/img/logo/wells-logo.png" style="width: 24px; height: 24px;"> - Wells Lamont</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>
                  


                  <li class="dropdown-submenu">
                    <!--Proteccion Cabeza y Facial-->
                    <a tabindex="-1" href="#"><%=t :proteccion_cabeza %></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/2o9np22lzwy5wuk/3m-catalogo.pdf"><img src="/img/logo-3m.png" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/big4miyxp7xmr87/bullard-catalogo.pdf"><img src="/img/bullard-logo.png" style="width: 24px; height: 24px;"> - Bullard</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/gzn6jffa2bg00lm/crews-catalogo.pdf"><img src="/img/crews-logo.png" style="width: 24px; height: 24px;"> - Crews</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/bo18unco19j0pxt/fibre-catalogo.pdf"><img src="/img/fibre-logo.png" style="width: 24px; height: 24px;"> - Fibre Metal</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/9eao1s1nxk3c2ln/gerson-catalogo.pdf"><img src="/img/gerson-logo.png" style="width: 24px; height: 24px;"> - Gerson</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/t88mjxlqdch7xfl/kimberly-catalogo.pdf"><img src="/img/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/5cbsx4fyzd4sdya/msa-catalogo.pdf"><img src="/img/msa-logo.png" style="width: 24px; height: 24px;"> - MSA</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/612uxoshnviptg1/north-catalogo.pdf"><img src="/img/north-logo.png" style="width: 24px; height: 24px;"> - North</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/qswws5jp5jihic4/occunomix-catalogo.pdf"><img src="/img/occunomix-logo.png" style="width: 24px; height: 24px;"> - Occunomix</a></li>
                       <li><a tabindex="-1" href="https://www.dropbox.com/s/cxvhvln41pjcpmp/rawhyde-catalogo.pdf"><img src="/img/rawhyde-logo.png" style="width: 24px; height: 24px;"> - Rawhyde Frontier</a></li>
                        <li><a tabindex="-1" href="https://www.dropbox.com/s/oloq4vhlrtbjr14/uvex-catalogo.pdf"><img src="/img/uvex-logo.png" style="width: 24px; height: 24px;"> - Uvex</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/f550jnkyd8mqdgt/weldas-catalogo.pdf"><img src="/img/weldas-logo.png" style="width: 24px; height: 24px;"> - Weldas</a></li>    
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>


                   <li class="dropdown-submenu">

                    <a tabindex="-1" href="#"><%=t :proteccion_visual %><!--Proteccion Visual--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/44q5xu86olyb8en/Catalogo.pdf"><img src="/img/logo/3m-logo.png" style="width: 24px; height: 24px;"> - 3M</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/5dmskb0m8nnc5d3/Catalogo.pdf"><img src="/img/logo/bauschlomb-logo.png" style="width: 24px; height: 24px;"> - Bausch&Lomb</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/6of3kd1b7rcrepr/Catalogo.pdf"><img src="/img/logo/crews-logo.png" style="width: 24px; height: 24px;"> - Crews</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ex9fl10jwb26a4q/Catalogo.pdf"><img src="/img/logo/dewalt-logo.png" style="width: 24px; height: 24px;"> - DeWalt</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ji3z7ffhp0ioy9t/Catalogo.pdf"><img src="/img/logo/keepsafe-logo.png" style="width: 24px; height: 24px;"> - Keep Safe</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/qam2cz8pbwaqrgz/Catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/jbb0cf8qxgqc8na/Catalogo.pdf"><img src="/img/logo/north-logo.png" style="width: 24px; height: 24px;"> - North</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/tpzmdbplmkqiz1b/Catalogo.pdf"><img src="/img/logo/radians-logo.png" style="width: 24px; height: 24px;"> - Radians</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/1byuv0a708l9jyc/Catalogo.pdf"><img src="/img/logo/remington-logo.png" style="width: 24px; height: 24px;"> - Remington</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/h8zivsbp2qld9n5/Catalogo.pdf"><img src="/img/logo/smith-wesson-logo.png" style="width: 24px; height: 24px;"> - Smith-Wesson</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/3xznawej28z1xst/Catalogo.pdf"><img src="/img/logo/uvex-logo.png" style="width: 24px; height: 24px;"> - Uvex</a></li>
                     
          
                     
                    </ul>
                    <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>



                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="https://www.dropbox.com/s/ibaacygiqjv0npl/full-catalogo.pdf"><%=t :proteccion_auditiva %><!--Proteccion auditiva--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/bjkvwv35s1s6rkw/3m_catalogo.pdf"><img src="/img/logo-3m.png" style="width: 24px; height: 24px;"> - 3M solutions</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/bzb0g35lcp1fjur/howard-catalogo.pdf"><img src="/img/howard-logo.png" style="width: 24px; height: 24px;"> - Howard Leight</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/lytsrp621ml16oo/moldex-catalogo.pdf"><img src="/img/moldex-logo.png" style="width: 24px; height: 24px;"> - Moldex</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>




                   <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_calzado %><!--Proteccion calzado--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/0rkhkjo9jhn9a7a/ergodyne-catalogo.pdf"><img src="/img/logo/ergodyne-logo.png" style="width: 24px; height: 24px;"> - Ergodyne</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/85lfmduh21h55ne/servus-catalogo.pdf"><img src="/img/logo/servus-logo.png" style="width: 24px; height: 24px;"> - Servus</a></li>
                       
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>


                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_corporal %><!--Proteccion corporal--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/oruopb7cgic85sk/ansell-catalogo.pdf"><img src="/img/logo/ansell-logo.png" style="width: 24px; height: 24px;"> - Ansell</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/5k6gm77x69sekit/dupont-catalogo.pdf"><img src="/img/logo/dupont-logo.png" style="width: 24px; height: 24px;"> - DuPont</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ad537hnmity6clr/honeywell-catalogo.pdf"><img src="/img/logo/honeywell-logo.png" style="width: 24px; height: 24px;"> - Honeywell</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/85cf9twr2iklxmz/kimberly-catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/mhzd9ahhyamh0t3/memphis-catalogo.pdf"><img src="/img/logo/memphis-logo.png" style="width: 24px; height: 24px;"> - Memphis</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/x2o0m0mwyfp7bn6/occunomix-catalogo.pdf"><img src="/img/logo/occunomix-logo.png" style="width: 24px; height: 24px;"> - Occunomix</a></li>  
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/g9plp1b5l35zpwl/rivercity-catalogo.pdf"><img src="/img/logo/rivercity-logo.png" style="width: 24px; height: 24px;"> - River City</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_soldadura %><!--Proteccion soldadura--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/2zfmog6keukfxxu/Catalogo.pdf"><img src="/img/logo/3m-logo.png" style="width: 24px; height: 24px;"> - 3M</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/nbxckblgarfcv71/Catalogo.pdf"><img src="/img/logo/fibrametal-logo.png" style="width: 24px; height: 24px;"> - Fibra Metal</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/69arq1n4ib6hir6/Catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/q34cppwsuhk8bz6/Catalogo.pdf"><img src="/img/logo/tillman-logo.png" style="width: 24px; height: 24px;"> - Tillman</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/mtqcy5ish1t2g22/Catalogo.pdf"><img src="/img/logo/unitedbrand-logo.png" style="width: 24px; height: 24px;"> - United Brand</a></li>
                       <li><a tabindex="-1" href="https://www.dropbox.com/s/vw7nq5o16uaxy4f/Catalogo.pdf"><img src="/img/logo/uvex-logo.png" style="width: 24px; height: 24px;"> - Uvex</a></li>
                        <li><a tabindex="-1" href="https://www.dropbox.com/s/d6n721bxgk3sv0g/Catalogo.pdf"><img src="/img/logo/weldas-logo.png" style="width: 24px; height: 24px;"> - Weldas</a></li>
                         <li><a tabindex="-1" href="https://www.dropbox.com/s/p06233olfhwfv16/Catalogo.pdf"><img src="/img/logo/wilson-logo.png" style="width: 24px; height: 24px;"> - Wilson</a></li>
          
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>




                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_alturas %><!--Proteccion alturas--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/kur8d8rbgyhxa32/ergodyne-catalogo.pdf"><img src="/img/logo/ergodyne-logo.png" style="width: 24px; height: 24px;"> - Ergodyne</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/svp4yj6vgfbclew/miller-catalogo.pdf"><img src="/img/logo/miller-logo.png" style="width: 24px; height: 24px;"> - Miller</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/0dzc496lcblpa6z/msa-catalogo.pdf"><img src="/img/logo/msa-logo.png" style="width: 24px; height: 24px;"> - MSA</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/46497vs0k5t5ije/protecta-catalogo.pdf"><img src="/img/logo/protecta-logo.png" style="width: 24px; height: 24px;"> - Protecta</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/t4a7yn4rrr8ql7m/sala-catalogo.pdf"><img src="/img/logo/sala-logo.png" style="width: 24px; height: 24px;"> - SALA</a></li>
          
                     
                    </ul>
                    <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>              

                  

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :proteccion_agua %><!--Proteccion en el agua--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/3e1wue0zp4a49b5/stearns-catalogo.pdf"><img src="/img/logo/stearns-logo.png" style="width: 24px; height: 24px;"> - Stearns</a></li>
          
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                 
                   
                  <!--
                  otros
                 -->     
                    </ul>
                  </li>


                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :uniformes_industriales %><!--uniformes industriales--></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">

                      <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :linea_ignifuga %><!--linea ignifuga--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/27dzkq0bbdja9z9/Catalogo.pdf"><img src="/img/in-logo.png" style="width: 24px; height: 24px;"> - Catalago</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :linea_medica %><!--linea medica--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/gihu5p9jx7eru5s/Catalogo.pdf"><img src="/img/in-logo.png" style="width: 24px; height: 24px;"> - Catalago</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>


                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :ropa_industrial %><!--ropa industrial--></a>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/r3e905ev4nltxnx/Catalogo.pdf"><img src="/img/in-logo.png" style="width: 24px; height: 24px;"> - Catalago</a></li>
                     
                    </ul>
                  </li>

                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :linea_visibilidad %><!--linea visibilidad--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ka2vrz75dicpbvb/Catalogo.pdf"><img src="/img/in-logo.png" style="width: 24px; height: 24px;"> - Catalago</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/47hi6o319a6aw6t/Catalogo.pdf"><img src="/img/logo/keepsafe-logo.png" style="width: 24px; height: 24px;"> - Keep Safe</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/e674l1u60hnuz00/Catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/2dem3t6dt6fk4kn/Catalogo.pdf"><img src="/img/logo/occunomix-logo.png" style="width: 24px; height: 24px;"> - Occunomix</a></li>

                       <li><a tabindex="-1" href="https://www.dropbox.com/s/p9qxfbd5f9uz9oy/Catalogo.pdf"><img src="/img/logo/rivercity-logo.png" style="width: 24px; height: 24px;"> - River City</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>
              
                    </ul>
                  </li> 

                  <!--inicio otro menu-->
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :botas_calzado %><!--botas y calzado--></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                       <li><a tabindex="-1" href="https://www.dropbox.com/sh/a62jtmb8fwyrs1p/zrwRoUG8iv/Catalogo.pdf"><img src="/img/logo/argyll-logo.png" style="width: 24px; height: 24px;"> - Argyll</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/i1hgrwdf7o67qme/Catalogo.pdf"><img src="/img/logo/croydon-logo.png" style="width: 24px; height: 24px;"> - Croydon</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/5vvnghlb30upnud/Catalogo.pdf"><img src="/img/logo/feminela-logo.png" style="width: 24px; height: 24px;"> - Feminela</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/v6cr1y32znr1vd1/Calzado%20Konkor.pdf"><img src="/img/logo/konkor-logo.png" style="width: 24px; height: 24px;"> - Konkor</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/i2cjpd1a420rvmn/Catalogo.pdf"><img src="/img/logo/machita-logo.png" style="width: 24px; height: 24px;"> - Machita</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/wl0vpk6qbq0gcqj/Catalogo.pdf"><img src="/img/logo/royal-logo.png" style="width: 24px; height: 24px;"> - Royal</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ifihltzpfrs4b9w/Catalogo.pdf"><img src="/img/logo/saga-logo.png" style="width: 24px; height: 24px;"> - Saga</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/1vwoxuvc575a2r7/Catalogo.pdf"><img src="/img/logo/supermachita-logo.png" style="width: 24px; height: 24px;"> - Super Machita</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/nakfnf0l2yfqkc9/Calzado%20Sureman.pdf"><img src="/img/logo/sureman-logo.png" style="width: 24px; height: 24px;"> - Sureman</a></li>

                      <li><a tabindex="-1" href="https://www.dropbox.com/s/f4mvx9ieilhkyus/Catalogo.pdf"><img src="/img/logo/workman-logo.png" style="width: 24px; height: 24px;"> - Workman</a></li>
            
                    </ul>
                  </li> 


 <!--inicio otro menu-->
    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :linea_especializada %><!--linea especializada--></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">


                           <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :instrumentacion %><!--instrumentacion--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/s63q0d157iranhz/Catalogo.pdf"><img src="/img/logo/honeywell-logo.png" style="width: 24px; height: 24px;"> - Honeywell</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/qcm607xekvz0ldo/Catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ob41zey548mvy4u/Catalogo.pdf"><img src="/img/logo/msa-logo.png" style="width: 24px; height: 24px;"> - MSA</a></li>    
                                      
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>



                   <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :toallas_limpiadores %><!--toallitas y limpiadores--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/hslvxw7hkrwo7qc/Catalogo.pdf"><img src="/img/logo/gojo-logo.png" style="width: 24px; height: 24px;"> - Gojo</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/n9qntio9nd9bgf0/Catalogo.pdf"><img src="/img/logo/kimberly-logo.png" style="width: 24px; height: 24px;"> - Kimberly-Clark</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/b5f3i89audoqa77/Catalogo.pdf"><img src="/img/logo/purell-logo.png" style="width: 24px; height: 24px;"> - Purell</a></li>
                      

                                      
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>  


                     <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :stress_termico %><!--stress termico--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/6goes5gzcxl1trp/Catalogo.pdf"><img src="/img/logo/coleman-logo.png" style="width: 24px; height: 24px;"> - Coleman</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/x3dyt7fnb2hx576/Catalogo.pdf"><img src="/img/logo/ergodyne-logo.png" style="width: 24px; height: 24px;"> - Ergodyne</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/vcjnz5dntu8uvxd/Catalogo.pdf"><img src="/img/logo/occunomix-logo.png" style="width: 24px; height: 24px;"> - Occunomix</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/v6v7atlblq01enu/Catalogo.pdf"><img src="/img/logo/rubbermaid-logo.png" style="width: 24px; height: 24px;"> - Rubbermaid</a></li>
                       <li><a tabindex="-1" href="https://www.dropbox.com/s/53clvyzipfaa5v5/Catalogo.pdf"><img src="/img/logo/sqwincher-logo.png" style="width: 24px; height: 24px;"> - Sqwincher</a></li>

                                      
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>  



                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :absorventes %><!--absorventes--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/rhw9rni3pjhx7hd/Catalogo.pdf"><img src="/img/logo/3m-logo.png" style="width: 24px; height: 24px;"> - 3M</a></li>
                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :almacenamiento_peligroso %><!--almacenamiento peligroso--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ieicpk33jg3affp/Catalogo.pdf"><img src="/img/logo/3m-logo.png" style="width: 24px; height: 24px;"> - Justrite</a></li>
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                 <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :duchas_lavaojos %><!--duchas lavaojos--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/veuiybvrd8nlq12/Catalogo.pdf"><img src="/img/logo/guardian-logo.png" style="width: 24px; height: 24px;"> - Guardian</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/mkvkpw4xsae8wvi/Catalogo.pdf"><img src="/img/logo/honeywell-logo.png" style="width: 24px; height: 24px;"> - Honeywell</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/xydfn9acdr8hg5h/Catalogo.pdf"><img src="/img/logo/visionaid-logo.png" style="width: 24px; height: 24px;"> - Visionaid</a></li>

                     
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                     <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :ergonomia %><!--ergonomia--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ui83yl114gimpdi/Catalogo.pdf"><img src="/img/logo/ergodyne-logo.png" style="width: 24px; height: 24px;"> - Ergodyne</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/ao5h7jp29w9fufh/Catalogo.pdf"><img src="/img/logo/occunomix-logo.png" style="width: 24px; height: 24px;"> - Occunomix</a></li>
                                      
                    </ul>
                    <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>

                  </li>
                   <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :epacios_confinados %><!--espacios confinados--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/nuyc02tz5y0aa8r/Catalogo.pdf"><img src="/img/logo/allegro-logo.png" style="width: 24px; height: 24px;"> - Allegro</a></li>
                    
                                      
                    </ul>

                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>      
                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :etiqueta_bloqueo %><!--etiqueta y bloqueo--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/daoxscm5d8d0yoz/Catalogo.pdf"><img src="/img/logo/honeywell-logo.png" style="width: 24px; height: 24px;"> - Honeywell</a></li>
                    
                                      
                    </ul>

                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                  <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :identificacion %><!--identificacion--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/3zy87kijtss3vqe/Catalogo.pdf"><img src="/img/logo/accuformsigns-logo.png" style="width: 24px; height: 24px;"> - Accuform Signs</a></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/6ndgfel8geezpy0/Catalogo.pdf"><img src="/img/logo/vital-logo.png" style="width: 24px; height: 24px;"> - Vital</a></li>
                    

                    </ul>

                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :linternas %><!--linternas--></a>
                     <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo/energizer-logo.png" style="width: 24px; height: 24px;"> - Energizer</a></li>
                      <li><a tabindex="-1" href="#"><img src="/img/logo/pelican-logo.png" style="width: 24px; height: 24px;"> - Pelican</a></li>
                       <li><a tabindex="-1" href="#"><img src="/img/logo/rayovac-logo.png" style="width: 24px; height: 24px;"> - Rayovac</a></li>
                    
                                      
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>  

                    <li class="dropdown-submenu">
                    <a tabindex="-1" href="#"><%=t :primeros_auxilios %><!--Primeros Auxilios--></a>
                    <%if user_signed_in? %>
                    <ul class="dropdown-menu">
                      <li></li>
                      <li><a tabindex="-1" href="https://www.dropbox.com/s/eceah1l5wtl14i3/Catalogo.pdf"><img src="/img/logo/north-logo.png" style="width: 24px; height: 24px;"> - North</a></li>
                     
                    
                                      
                    </ul>
                     <% else %>
                    <ul class="dropdown-menu">
                       <li><p class="text-center text-error"><strong><%=t :registrar %></strong> <small><span class="muted"><%=t :ver_mas %></span> </small></p></li>
                    </ul>
                    <% end %>
                  </li>

            
                    </ul>
                  </li>              


      
   
      
    </ul>
  </fieldset>
  <div style="width: 166px;"><p class="text-center"><%=t :lema_nav %></p><br>
    <p align="center" id="msj"><%=t :lema_nav2 %></p>
  </div>
</div>
