<section class="list-catalogo">
  <div class="content-bg">
    <p class="title">NUESTRO CATALOGO</p>
  </div>
  <ul>    
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :uniformes_industriales %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-2.jpg" alt="">
      </a>
      <ul  class="list-docs">
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/linea-infuga.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :linea_ignifuga %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/linea-medica.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :linea_medica %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/uniforme-industrial.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :ropa_industrial %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/linea-visible.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :linea_visibilidad %></a></li>
      </ul>
    </li>
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :botas_calzado %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-4.jpg" alt="">
      </a>
      <ul class="list-docs">
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/06-calzado.compressed.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :botas_calzado %></a></li>
      </ul>
    </li>
  </ul>
  <ul>
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :seguridad_industrial %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-3.jpg" alt="">
      </a>
      <ul class="list-docs">
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/01-respiratoria.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_respiratoria %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/02-manual.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_manual %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/03-cabeza.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_cabeza %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/04-visual.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_visual %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/05-auditiva.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_auditiva %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/06-calzado.compressed.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_calzado %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/07-corporal.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_corporal %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/08-soldadura.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_soldadura %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/09-alturas.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_alturas %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/10-agua.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_agua %></a></li>
      </ul>
    </li>
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :linea_especializada %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-5.jpg" alt="">
      </a>
      <ul class="list-docs">
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/23-instrumentacion.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :instrumentacion %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/12-toallas-limpiadores.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :toallas_limpiadores %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/13-stress-termico.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :stress_termico %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/14-absorventes.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :absorventes %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/15-almacenamiento_peligroso.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :almacenamiento_peligroso %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/16-duchas-lavaojos.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :duchas_lavaojos %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/17-ergonomia.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :ergonomia %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/18-epacios-confinados.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :espacios_confinados %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/19-etiqueta-bloqueo.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :etiqueta_bloqueo %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/20-identificacion.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :identificacion %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/21-linternas.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :linternas %></a></li>
        <li><a href="https://dl.dropboxusercontent.com/u/52872565/catalogo/22-primeros-auxilios.pdf"><i class="fa fa-file-pdf-o"></i> <%=t :primeros_auxilios %></a></li>
      </ul>
    </li>
  </ul>
</section>