<section class="list-catalogo">
  <div class="content-bg">
    <p class="title">NUESTRO CATALOGO</p>
  </div>
  <ul>    
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :uniformes_industriales %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-2.jpg" alt="">
      </a>
      <ul  class="list-docs">
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :linea_ignifuga %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :linea_medica %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :ropa_industrial %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :linea_visibilidad %></a></li>
      </ul>
    </li>
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :botas_calzado %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-4.jpg" alt="">
      </a>
      <ul class="list-docs">
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :botas_calzado %></a></li>
      </ul>
    </li>
  </ul>
  <ul>
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :seguridad_industrial %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-3.jpg" alt="">
      </a>
      <ul class="list-docs">
        <li><a href="#"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_respiratoria %></a></li>
        <li><a href="#"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_manual %></a></li>
        <li><a href="#"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_cabeza %></a></li>
        <li><a href="#"><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_visual %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_auditiva %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_calzado %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_corporal %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_soldadura %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_alturas %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :proteccion_agua %></a></li>
      </ul>
    </li>
    <li class="span6">
      <p><strong><i class="fa fa-cloud-download"></i> <%=t :linea_especializada %></strong></p>
      <a href="#" class="content">
        <img src="/images/serv-5.jpg" alt="">
      </a>
      <ul class="list-docs">
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :instrumentacion %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :toallas_limpiadores %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :stress_termico %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :absorventes %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :almacenamiento_peligroso %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :duchas_lavaojos %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :ergonomia %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :espacios_confinados %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :etiqueta_bloqueo %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :identificacion %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :linternas %></a></li>
        <li><a href=""><i class="fa fa-file-pdf-o"></i> <%=t :primeros_auxilios %></a></li>
      </ul>
    </li>
  </ul>
</section>