<style >
body{
  background: #FDFDFD url(/img/bg_main.gif) repeat;
  background-attachment: fixed;
  position: relative;
 
}
</style>

<div class="container">
<div class="row">
  <div class="span12">
    <h4><%=t :company_titulo %></h4>
    <div class="articulo">
    <div class="row">
      <div class="span6">
      	<div class="media">
              <div class="pull-left">
                <img  src="/img/ico-3.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=t :company_mision %></h4>
              <%=t :mision_decripcion %>
              </div>
            </div>
            <hr>

            <div class="media">
              <div class="pull-left">
                <img src="/img/ico-2.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=t :company_vision %></h4>
                <%=t :vision_description %>
              </div>
            </div>



        </div>
        <!--otra columna-->
      <div class="span6">
        <h4> <%=t :valores %></h4>
        <br>
        <div class="row">
          <div class="span3">

            <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading"><%=t :proposito_titulo %></h5>
                <small><%=t :proposito_description %></small>
              </div>
            </div>
            <hr>

             <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading"><%=t :disiplina_titulo %></h5>
                <small><%=t :disiplina_description %></small>
              </div>
            </div>

            <hr>
              <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading"><%=t :entusiasmo_titulo %></h5>
                <small><%=t :entusiasmo_description %></small>
              </div>
            </div>



          </div>
          <div class="span3">

                <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading"><%=t :organizacion_titulo %></h5>
                <small><%=t :organizacion_description %></small>
              </div>
            </div>

            <hr>

              <div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h5 class="media-heading"><%=t :responsabilidad_titulo %></h5>
                <small><%=t :responsabilidad_description %></small>
              </div>
            </div>



          </div>
         

        </div>
      	

      </div>

    </div>
    </div>
  </div>

 
</div>


</div>
<div class="container">
<div class="articulo">
  	<div class="well">
  		<fieldset>
  			<legend><%=t :company_clientes %></legend>
  			     <ul class="thumbnails">
                <% @customers.each do |customer| %>
                <li class="span2" style="width: 123px; height: 44px;">
                    <a href="#" class="thumbnail">
                        <img src="<%= customer.url_photo %>" ></a>
                    </li>
                    <% end %>
                </ul>

  		
  		</fieldset>
  	</div>

</div>
</div>

