<style >
body{
  background: #FDFDFD url(/img/bg_main.gif) repeat;
  background-attachment: fixed;
  position: relative;
 
}
</style>

<div class="container">
  <div class="row">
    <div class="span6" style="padding-top: 55px;">
      <h5><%=t :gestion_titulo1 %></h5>
      <blockquote><p><%=t :gestion_description %></p></blockquote>
    </div>
 
    <div class="span6">
      <table class="table table-hover">
              <tbody>
                <tr>
                  <td><blockquote><p><%=t :gestion_objetivo1 %></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><%=t :gestion_objetivo2 %></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><%=t :gestion_objetivo3 %></p></blockquote></td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>
  <hr>
   <div class="row">
    <div class="span6" style="padding-top: 55px;">
      <h5><%=t :gestion_titulo2 %></h5>
      <blockquote><p><%=t :gestion_description2 %></p></blockquote>
    </div>

    <div class="span6">
      <table class="table table-hover">
              <tbody>
                <tr>
                  <td><blockquote><p><%=t :gestion_objetivo4 %></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><%=t :gestion_objetivo5 %></p></blockquote></td>
                </tr>
                <tr>
                  <td><blockquote><p><%=t :gestion_objetivo6 %></p></blockquote></td>
                </tr>
              </tbody>
            </table>
    </div>
  </div>


</div>

