<style>
body {
    background: url(/img/fondo_r.jpg);
            background-size:100% 120%;
            background-repeat:no-repeat; 
}

</style>
       
            <div class="row-fluid">   
                <div class="span3"><!--margen izquierda-->
                    <div class="pull-right" style="padding-top: 10px;"><%= render 'nav' %></div>
                    

                </div><!-- finaliza margen izquierda-->
            <div class="span6"><!-- margen central-->
            	<%= render 'carrusel' %><!-- finaliza carrusel-->
            </div><!-- finaliza margen central-->
            <div class="span3" id="perfil" style="padding-top:40px;">
                 <% @welcomes.each do |welcome| %>
            	<h1><%= welcome.name %></h1>
                <hr>
            	<p><strong><%= welcome.leyenda %></strong><br>
            	<% end %>	
                    <br>
                    <%= link_to "Registrar", new_user_registration_path, :class =>"btn btn-large btn-warning" %> 
                    <%= link_to "Iniciar", new_user_session_path, :class => "btn btn-large btn-primary" %>
            	</p>
                 
                  
                 
                 
            </div>
        </div>
    <div class="span12">
                    <h3>Clientes</h3>
                     <ul class="thumbnails">
                <% @customers.each do |customer| %>
                <li class="span2" style="width: 85px; height: 44px;">
                    <a href="#" class="thumbnail">
                        <img src="<%= customer.url_photo %>" ></a>
                    </li>
                    <% end %>
                </ul></div>




