<style >
body{
  background: #FDFDFD url(/img/bg_main.gif) repeat;
  background-attachment: fixed;
  position: relative;
 
}
</style>

<div class="container">
<div class="row">
  <div class="span12">
    <h4><%=t :servicios_titulo %></h4>
    <div class="articulo">
    <div class="row">
      <div class="span6">
      	<div class="media">
              <div class="pull-left">
                <img  src="/img/ico-3.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=t :servicios_objetivo1 %></h4>
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
              </div>
            </div>
            <hr>

            <div class="media">
              <div class="pull-left">
                <img src="/img/ico-2.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=t :servicios_objetivo2 %></h4>
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
              </div>
            </div>



        </div>
        <!--otra columna-->
      <div class="span6">
      	<div class="media">
              <div class="pull-left">
                <img  src="/img/ico-4.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=t :servicios_objetivo3 %></h4>
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
              </div>
            </div>
            <hr>
            <div class="media">
              <div class="pull-left">
                <img src="/img/ico-1.png">
              </div>
              <div class="media-body">
                <h4 class="media-heading"><%=t :servicios_objetivo4 %></h4>
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.-->
              </div>
            </div>
      	   

      </div>

    </div>
    </div>
  </div>

 
</div>


</div>
<div class="container">
<div class="articulo">
  	<div class="well">
  		<fieldset>
  			<legend><%=t :servicios_marcas %></legend>
  			     <ul class="thumbnails">
                <% @customers.each do |customer| %>
                <li class="span2" style="width: 123px; height: 44px;">
                    <a href="#" class="thumbnail">
                        <img src="<%= customer.url_photo %>" ></a>
                    </li>
                    <% end %>
                </ul>

  		
  		</fieldset>
  	</div>

</div>
</div>

