<% if admin_signed_in? %>
<section class="panel">
    <div class="content-bg">
      <p class="title">BIENVENIDO USUARIO ADMINISTRADOR</p>
    </div>
    <div class="panel-users">
      <p class="title">LISTADO DE CONTACTOS ENVIADOS</p>
        <p class="line"></p>
        <table class="table table-bordered">
          <tr class="tr">
            <th>Datos</th>
            <th>Solicitud</th>        

          </tr>

        <% @contacts.each do |contact| %>
          <tr>
            <td>
                <p class="name"><strong><%= contact.nombre %></strong></p>
                <p class="datos"><strong>Correo:</strong> <%= contact.email %></p>                
                <p class="datos"><strong>Ciudad:</strong> <%= contact.ciudad %></p>        
                <p class="datos"><strong>Telefono:</strong><%= contact.telefono %></p>                
                <p class="datos"><%= contact.created_at.strftime(" %m/%d/%Y - %I:%M %p") %></p>
            </td>
            <td><p class="datos"><strong>Servicio interesado:</strong>  <%= contact.comentario %></p></td>
            <td><%= link_to 'Eliminar', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            
                     
          </tr>
        <% end %>
        </table>  
    </div>
    
</section>    
<% end %>