<%= simple_form_for(@welcome) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :logo %>
    <%= f.input :name %>
    <%= f.input :leyenda %>
    <%= f.input :mensaje %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
