<section class="registrar login">
      <div class="content-bg">
        <p class="title"><%=t :iniciar %></p>
      </div>
      <div class="content-box login">
        <div class="content-copy">  
          <div class="content-form">
            <p>PLataforma Administrativa </p>
            <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
            <!-- datos del contacto  -->
              <label for=""><%=t :correo_registro %></label>
              <%= f.input :email, label: false, :required => false, :autofocus => true %>
              <label for=""><%=t :clave_registro %></label>
           <%= f.input :password, label: false, :required => false %>
          <%= f.input :remember_me, label: 'Recordar', :as => :boolean if devise_mapping.rememberable? %>             
              <div class="content-btn">
                <%= f.button :submit, "INICIAR" %>
              </div>
              <% if admin_signed_in? %>
                <div><%= render "devise/shared/links" %></div>   
              <% end %>
          <% end %>            
          </div>
        </div>
      </div>
    </section>