<style>
.navbar-inverse .btn-navbar
{
    background: red;
}
</style>

<p id="notice"><%= notice %></p>
<div class="container-fluid"><!--container -->
  <div class="row"><!--columnas -->
    <div class="span5"><!--columna izq -->
      <div class="row"><!--columna izq interna-->
        <div class="span1"><!--columna 1 -->
          <%= link_to "<div class='btn btn-primary'><i class='icon-chevron-left'></i> Atras</div>".html_safe,  :controller => "site_sale"%>
        </div><!-- cierra columna 1 -->
        <div class="span2"> <!--columna 2-->
          <p><strong><%= @product.marca %> </strong><em>(<%= @product.referencia_marca %>)</em>
          </p>
        </div><!--cierra 2-->
        <div class=" span2 pull-right"><!--columna 3-->
          <strong>cod: <%= @product.codigo_externo %></strong> 
        </div>
      </div> <!-- cierra columna izq interna-->     
      <img src="<%= @product.imagen %>" class="img-rounded" style="width: 460px; height: 470px;">    
    </div><!-- cierra columna izq -->
    <div class="span6">
      <div class="row">
        <div class="span3">
          <p><strong>$ <%= @product.precio %> (COP)</strong></p><br>
          <strong>  <%= @product.nombre %></strong><br>
           <div style="text-align:justify;">
            <small><%= @product.descripcion %></small> 
          </div>
          <br>
          <fieldset>
            <legend><p><strong>TALLAS</strong></p></legend>
            <p><%= @product.talla %></p>
            <br>
            <legend><p><strong>COLORES</strong></p></legend>
            <p><%= @product.color %></p>
             <br>
             <legend><p><strong>CATEGORIA</strong></p></legend>
            <p><%= @product.category.nombre %></p>
          </fieldset> 
        </div>
        <div class="span3">
          <table>
            <thead>
              <tr>
                <th><p class="text-left">Ficha tecnica</p></th>
             </tr>
            </thead>
            <tbody>
              <tr>
                <td><%= @product.ficha_tecnica %></td>
              </tr>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div><!--columnas -->
</div><!--container -->