
<div class="container">
  <%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
   
    <div class="row">
      <div class="span3">
         <div class="form-inputs">
          <%= f.input :codigo_interno %>
         </div>
      </div>
      <div class="span3">
         <div class="form-inputs">
           <%= f.input :codigo_externo %>
         </div>
      </div>
      <div class="span3">
         <div class="form-inputs">
               <%= f.input :marca %>
         </div>
      </div>
      <div class="span3">
         <div class="form-inputs">
               <%= f.input :referencia_marca %>
         </div>
      </div>
    </div>
<div class="row">
  <div class="span3">
    <div class="form-inputs"> 
<%= f.collection_select :category_id, Category.all, :id, :nombre, :include_blank => false %>
    <%= f.input :nombre %>
    <%= f.input :talla, placeholder: 'Ej: S, M, L' %>
    <%= f.input :color, placeholder: 'Ej: Azul, Amarillo, Negro' %>
     <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
 <i class="icon-ok icon-white"></i> Guardar
<% end %>
  </div>
</div>
  <div class="span3">
  <div class="form-inputs">
    <span>Ficha Tecnica</span>
    <%= f.text_area :ficha_tecnica,:as => :text, :cols => 130, :rows => 15, placeholder: 'Ej: nombre: descripcion | nombre: descripcion |' %> 
  </div>
</div>
<div class="span3">
  <div class="form-inputs">
    <span>Ficha de Producción</span>
   <%= f.text_area :ficha_produccion, :as => :text, :cols => 130, :rows => 15, placeholder: 'Ejemplo: nombre: descripcion | nombre: descripcion |' %>
</div>
</div>
<div class="span3">
  <div class="form-inputs">
    <span>Descripción</span>
   <%= f.text_area :descripcion, :as => :text, :cols => 130, :rows => 15 %>
</div>
</div>
</div>  
<% end %>
</div>

