<style>
  .content-top{
    padding-top: 60px;
  }
/*paginacion will*/
.flickr_pagination {
  text-align: center;
  padding: 0.3em;
  cursor: default; }
  .flickr_pagination a, .flickr_pagination span, .flickr_pagination em {
    padding: 0.2em 0.5em; }
  .flickr_pagination .disabled {
    color: #aaaaaa; }
  .flickr_pagination .current {
    font-style: normal;
    font-weight: bold;
    color: #ff0084; }
  .flickr_pagination a {
    border: 1px solid #dddddd;
    color: #0063dc;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063dc;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaaaaa;
    padding-top: 0.8em; }
  .flickr_pagination .previous_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .previous_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
</style>
<div class="content-top">
  <div class="container-fluid">
       <%= render 'share/navpro' %>
       <div class="row">
        <div class="span6">
          <br>
          <strong>Listado de Producto</strong>
        </div>
        <div class="span6">
          <br>
          <%= form_tag products_path, :method => 'get' do %>
          <div class="input-append">
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Buscar", :nombre => nil, :class => 'btn' %>
          </div>
          <% end %>
        </div>
       </div>
       <br>
       <div class="">         
         <%= link_to 'Descargar as .xlsx', products_path(format: :xlsx) %>
       </div>
      <% @products.each do |product| %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>imagen</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Referencia Interna</th>
            <th>Marca</th>
            <th>Referencia</th>
            <th>Color</th>
            <th>Talla</th>
            <th>Categoria</th>
            <th></th>
            <th></th>
            <th></th>

          </tr>
        </thead>
    <tbody>
      <tr>
        <td>
          <img class="media-object" data-src="holder.js/64x64" alt="64x64" style="width: 84px; height: 84px;" src="<%= product.imagen %>">
        </td>
        <td><%= product.nombre %></td>
         <td><%= product.precio %></td>
        <td><%= product.codigo_interno %></td>
        <td><%= product.marca %></td>
        <td><%= product.referencia_marca %></td>
        <td><%= product.color %></td>
        <td><%= product.talla %></td>
        <td><%= product.category.nombre %></td>
        <td> <%= link_to "<div class='btn btn-mini'><i class='icon-eye-open'></i> Ver</div>".html_safe, product %></td>
        <td>  <%= link_to "<div class='btn btn-mini'><i class='icon-pencil'></i> Editar</div>".html_safe, edit_product_path(product) %></td>
        <td> <%= link_to "<div class='btn btn-mini'><i class='icon-remove-circle'></i> Eliminar</div>".html_safe, product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    </tbody>
  </table>
  <% end %>
  <%= will_paginate @products, :class => 'flickr_pagination',   :previous_label => t("will_paginate.previous_label"),
    :next_label     => t("will_paginate.next_label")%>
  </div>

</div>
