<p id="notice"><%= notice %></p>

<p>
  <b>Codigo interno:</b>
  <%= @product.codigo_interno %>
</p>

<p>
  <b>Codigo externo:</b>
  <%= @product.codigo_externo %>
</p>

<p>
  <b>Nombre:</b>
  <%= @product.nombre %>
</p>

<p>
  <b>Talla:</b>
  <%= @product.talla %>
</p>

<p>
  <b>Color:</b>
  <%= @product.color %>
</p>

<p>
  <b>Ficha tecnica:</b>
  <%= @product.ficha_tecnica %>
</p>

<p>
  <b>Ficha produccion:</b>
  <%= @product.ficha_produccion %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @product.descripcion %>
</p>

<p>
  <b>Marca:</b>
  <%= @product.marca %>
</p>

<p>
  <b>Referencia marca:</b>
  <%= @product.referencia_marca %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
