<!DOCTYPE html>
<html>
<head>
  <title>INSSOL SAS</title>
   <%= analytics_init if Rails.env.production? %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="google-site-verification" content="bC_hpt0Jzy1nIfX80duM9OoNdYHqhk2Eg-KHc6fJwVQ" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<!--agregando meta para moviles
<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <%= csrf_meta_tags %>
</head>
<body>


 <% if admin_signed_in? %>
  <%= render 'share/admin' %>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
    <% elsif seller_signed_in?  %>
      <%= render 'share/seller' %>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
    <% else %>
     <%= render 'share/menu' %>
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>
<% end %> 	  
<% if notice %>
  <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>	
<%= yield %>
<script>
$('.dropdown-toggle').dropdown();
</script>
<script>
$('#myCollapsible').collapse({
  toggle: false
})
</script>
<script>
$('.carousel').carousel({
  interval: 4000
})
</script>
<!--analytics 3ssas-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43117987-1', '3ssas.com.co');
  ga('send', 'pageview');

</script>


</body>
</html>
