<!DOCTYPE html>
<html>
<head>
  <title>INSSOL SAS</title>
   <%= analytics_init if Rails.env.production? %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <meta name="google-site-verification" content="bC_hpt0Jzy1nIfX80duM9OoNdYHqhk2Eg-KHc6fJwVQ" />
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<!--agregando meta para moviles
<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <%= csrf_meta_tags %>
  <style>
  .content-top{
    padding-top: 60px;
  }
  </style>
</head>
<body>


 <% if admin_signed_in? %>
  <%= render 'share/admin' %>
    <% elsif seller_signed_in?  %>
      <%= render 'share/seller' %>
    <% else %>
     <%= render 'share/menu' %>
    <% end %> 	  
<% if notice %>
  <div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <p class="alert alert-error"><%= alert %></p>
<% end %>	
<%= yield %>

<footer class="foot">
  <div class="content">
     <ul>
      <li>INSSOL SAS - 2015</li>
      <li><%= link_to t("home"), inicio_path %></li>
      <li><%= link_to t("company"), company_path %></li>
      <li><%= link_to t("servicio"), servicios_path %></li>
      <li><%= link_to t("gestion"), gestion_path %></li>
      <li><%= link_to t("contacto"), contacto_path %></li>      
    </ul>
  </div>
  <div class="design">
    <a href="http://www.lubu.com.co/"><img src="/images/lubu.png"></a> 
    <span>DESIGN</span>        
  </div>
</footer>

<script>
$('.dropdown-toggle').dropdown();
</script>
<script>
$('#myCollapsible').collapse({
  toggle: false
});
</script>
<script>
$('.carousel').carousel({
  interval: 4000
});
</script>
<!--analytics 3ssas-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43117987-1', '3ssas.com.co');
  ga('send', 'pageview');

</script>


</body>
</html>
