<!DOCTYPE html>
<html>
<head>
  <title>INSSOL SAS</title>
   <%= analytics_init if Rails.env.production? %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<link href='http://fonts.googleapis.com/css?family=Ubuntu:500&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
<!--agregando meta para moviles
<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
  <%= csrf_meta_tags %>
</head>
<body>
	  <p class="notice"><%= notice %></p>

 <% if admin_signed_in? %>
 <%= render 'share/admin' %>

 <% else %>
 <%= render 'share/menu' %>
 <% end %>	  
	


<%= yield %>

<script>
$('.carousel').carousel({
  interval: 4000
})
</script>

</body>
</html>
