<style>
body {
	 background: url(/img/fondo_r.jpg);
            background-size:100% 100%;
            background-repeat:no-repeat; 
}
h2 {
	
	font-family: 'Ubuntu', sans-serif;
	color: #f18200;
	font-weight: 500;
	text-shadow:2px 2px #000000;
}
</style>

<div class="container">
<div class="row">
	<div class="span12">
		<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), html:{class: "well"}) do |f| %>
		<fieldset>
			<legend><h2><%=t :registrar %></h2></legend>
			<%= f.error_notification %>
			<div class="row-fluid">
					<div class="span4">
						<div><p class="muted"><img src="/img/1.png"><%=t :informacion_personal %></p></div>
						
						<p class="muted"><small><%=t :description_personal %></small></p>
						
					<%= f.input :nombre, label: false, placeholder: 'Nombre completo'  %>
					<%= f.input :cargo, label: false, placeholder: 'Cargo' %>
					<%= f.input :celular, :as => :string, label: false, placeholder: 'Numero Movil' %>
				</div>
				<div class="span4">
					<div><p class="muted"><img src="/img/2.png"><%=t :informacion_empresa %></p></div>
					
						<p class="muted"><small><%=t :description_empresa %></small></p>

					<%= f.input :pais, label: false, collection: [ "United States", "Canada", "Argentina", "Brazil", "Chile", "Colombia", "Mexico", "Peru", "Austria", "Belgium", "Croatia", "Czech Republic", "Denmark", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Netherlands", "Norway", "Poland", "Portugal", "Romania", "Russia", "Slovakia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Egypt", "Ghana", "Israel", "Kenya", "Morocco", "Nigeria", "Senegal", "South Africa", "Turkey", "Uganda", "United Arab Emirates", "Australia", "China", "Hong Kong", "India", "Indonesia", "Japan", "Korea", "Malaysia", "New Zealand", "Philippines", "Singapore", "Taiwan", "Thailand"], prompt: "Selecciona el Pais"%>
					<%= f.input :name_empresa, label: false, placeholder: 'Nombre de la Empresa'  %>
					<%= f.input :telefono, :as => :string, label: false, placeholder: 'Numero Telefonico' %>
					
					
				</div>
				<div class="span4">
					<div><p class="muted"><img src="/img/3.png"><%=t :informacion_ingreso %></p></div>

					<p class="muted"><small><%=t :description_ingreso %></small></p>

					<%= f.input :email, :required => true, :autofocus => true, label: false, placeholder: 'Correo Electronico' %>
    				<%= f.password_field :password, :placeholder => 'Contraseña' %>
    				<%= f.input :password_confirmation, :required => true, label: false, placeholder: 'Confirmar Contraseña' %>
				</div>
			</div>
			
			
			
			
    		<div class="form-actions">
    			<%= f.button :submit, "Registrar", :class => 'btn btn-primary' %>
    		</div>
    	</fieldset>
    	<% end %>
    </div>
    </div>
</div>




