<section class="registrar">
      <div class="content-bg">
        <p class="title"><%=t :registrar %></p>
      </div>
      <div class="content-box">
        <div class="content-copy">	
          <p class="title"><%=t :informacion_personal %></p>
          <p><%=t :description_personal %></p>
          <div class="content-form">
            <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <!-- datos del contacto  -->
            	<label for=""><%=t :nombre_registro %></label>
            	<%= f.input :nombre, label: false, :autofocus => true %>

            	<label for=""><%=t :cargo_registro %></label>
				<%= f.input :cargo, label: false %>

				<label for=""><%=t :celular_registro %></label>
				<%= f.input :celular, :as => :string, label: false %>
			<!-- datos empresa -->
	              <p class="title"><%=t :informacion_empresa %></p>
	              <p><%=t :description_empresa %></p>

	              <label for=""><%=t :empresa_registro %></label>
	              <%= f.input :name_empresa, label: false  %>

	              <label for=""><%=t :telefono_registro %></label>
	              <%= f.input :telefono, :as => :string, label: false %>	             

	              <label for=""><%=t :pais_registro %></label>
	              <%= f.input :pais, label: false, collection: [ "United States", "Canada", "Argentina", "Brazil", "Chile", "Colombia", "Mexico", "Peru", "Austria", "Belgium", "Croatia", "Czech Republic", "Denmark", "Finland", "France", "Germany", "Greece", "Hungary", "Ireland", "Italy", "Netherlands", "Norway", "Poland", "Portugal", "Romania", "Russia", "Slovakia", "Spain", "Sweden", "Switzerland", "Ukraine", "United Kingdom", "Egypt", "Ghana", "Israel", "Kenya", "Morocco", "Nigeria", "Senegal", "South Africa", "Turkey", "Uganda", "United Arab Emirates", "Australia", "China", "Hong Kong", "India", "Indonesia", "Japan", "Korea", "Malaysia", "New Zealand", "Philippines", "Singapore", "Taiwan", "Thailand"]%>

	              <label for=""><%=t :servicio_registro %></label>
	              <%= f.input :description, label: false %>
	        <!-- datos de la cuenta -->
	             <p class="title"><%=t :informacion_ingreso %></p>
	             <p><%=t :description_ingreso %></p>

	              <label for=""><%=t :correo_registro %></label>
	              <%= f.input :email, :required => true, label: false %>
	              <label for=""><%=t :clave_registro %> <span><%=t :informacion_password %></span></label>
	              <%= f.password_field :password %>
	              <label for=""><%=t :clave2_registro %></label>
	              <%= f.input :password_confirmation, :required => true, label: false %>

	            <div class="content-btn">
	            	<%= f.button :submit, "REGISTRAR" %>
	            </div>
        	<% end %>            
          </div>
        </div>
      </div>
    </section>